


<style type="text/css">
	.reply-comment{
		padding: 0;
		border: none;
		background: none;
		cursor: pointer;
		color: grey;
	}
	.img-responsive{
		width: 100%;
	}
	.headline{
		font-family: Times New Roman;
		font-size: 42px;
		color: #336699;
		padding-left: 15%;
		padding-right: 15%;

	}
	.date_time{
		color: grey;
		font-size: 20px;
		text-align: right;
		padding-right: 15%;
	}
	.content_re, .content{
		padding-top: 43px;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 5%;
	    color: #353535;

	}
	
	.image{
		padding-top: 2%;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 3%;
		width: 100%;
		max-height: 700px;
	}
	.user-{
		text-align: left;
		padding-left: 15%;
		font-size: 28;
	}
	.small-grey{
		display: inline;
		font-size: 12;
		opacity: 0.8;
		color: red;
	}
	.comments{
		padding-left: 15%;
		padding-right: 15%;
	}
	.each-comment{
		margin: 25px;
		padding: 10px;
		border-radius: 5px;
		font-family: Arial;
		background-color: lightgrey;
	}
	.comment-user-name{
		color: #336699;
		font-family: Times New Roman;
		font-size: 26px;
	}
	.button-like{
		background-color: lightgrey;
		border: 0px;
		color: blue;

	}
	.button-like:hover{
		cursor: pointer;
	}
	.text_input {
	  width: 53%;
	  padding: 12px 20px;
	  margin: 6px 0;
	  display: inline-block;
	  border: 2px solid #ccc;
	  border-radius: 10px;
	  box-sizing: border-box;
	}
	.give-comment{
		padding-left: 15%;
		padding-right: 15%;
	}
	.preview_points{
		padding-left: 15%;
		padding-right: 15%;
		opacity: 0.8;
		font-family: WildWest;
		font-size: 22;
	}
	.content::first-letter{
		padding-left: 3%;
		font-size: 48;
	}
	.update{
		text-align: right;
		font-size: 14px;
		padding-right: 15%;
		font-family: arial;
		color: red;
	}
	.updated_time{
		color: grey;
		font-size: 20px;
		text-align: right;
		padding-right: 15%;
	}
	.replies{
		padding-left: 3%;
	}
	.each-reply{
		background-color: #f4f4f4;
		padding-left: 10px;
		border-radius: 10px;

	}
	.reply-comment{
		outline: none;
		display: block;
		border: 0;
	}
	#extra-replies-btn{
		outline: none;
		display: block;
		border: 0;
	}


</style>




{% extends 'base.html' %}
{% load blog_filters %}
{% load markdown_deux_tags %}

{% block head_name %} Blog || SRM {% endblock head_name %}


{% block extra %} {{form.media}}{% endblock extra %}


{% block cont_ex %}
<br/>

<div class="headline">{{ object.headline }} </div>	<!-- headline -->

<div>
	<div class="date_time">{{ object.date_time }}</div>  <!-- datetime -->
	<div class="updated_time"><small><u>Updated:</u> {{ object.last_updated.date }}</small></div>  <!-- datetime -->
	<div class="user-">
		By:<a href="{% url 'account-profile' slug=user.slug %}"> {{user.name.title}}</a>
		<div class="small-grey"><a style="color: grey" href="/blog/?q={{user.username}}"> more by the author</a></div>
		{% if object.creater == request.user %}
			<div class="update"><a href="{% url 'blog-update' slug=object.slug %}">Update</a></div>
		{% endif %}									<!-- update -->
	</div>
</div>
<br/>

{% if object.preview_points|length > 2 %}
	<div class="preview_points">								<!-- 	preview_points -->
<ul>
	{% for point in object.preview_points|split:"," %}
		<li>{{point}}</li>
	{% endfor %}
</ul>
	</div>
{% endif %}



{% if object.image %}<br/>
<img src="/data/{{object.image}}" class="image">
{% endif %}


<div class="content_detail content lead">
	{{object.marked_content}}		<!-- content -->
</div>    


{% if request.user.is_authenticated %}
<div class="give-comment">								<!-- give comment -->
	<div style="color: grey; font-size: 20;">
		What do you think about this?
	</div>
	<form method="POST" action=".">{% csrf_token %}
		<textarea name="comment_content" class="text_input" rows="1" placeholder="Comment here..."></textarea><br/>
		<button class="btn btn-outline-primary" type="submit">Submit</button>
	</form>
</div>
{% else %}
<div class="give-comment">
	<a href="{% url 'login' %}">Login</a> or <a href="{% url 'account-register' %}">Register</a> to comment
</div>
{% endif %}



<div style="color: grey; font-size: 30; padding-left: 15%;">			<!-- comments -->
	Comments
</div>

<div style="padding-left: 15%;padding-right: 15%"></div><br/>




<div class="comments">

	{% for comment in comments %}

		<blockquote class="lead">
			<p> {{comment.content|linebreaks}} </p>
			<footer class="blockquote-footer">
							<a href="{% url 'account-profile' slug=user.slug %}">{{comment.user.name}}</a> | 
							<button style="display: inline;" type="button" class="reply-comment" data-toggle="modal" data-parent="{{comment.slug}}" data-target="#exampleModal" data-whatever="@{{comment.user}}"> Reply </button> |
							{{comment.date_time|timesince}} ago
							{% if comment.replies.count %} |
									{{comment.replies.count}}
										{% if comment.replies.count > 1 %}
												relpies
										{% elif comment.replies.count %}
												reply
										{% endif %}
							{% endif %}
			</footer>
		</blockquote>
				

				<div class="replies">
					{% for reply in comment.replies|slice:"2" %}
						<div class="each-reply">
							<blockquote class="lead">
								<p> {{reply.content|linebreaks}} </p>
										<footer class="blockquote-footer">
											<a href="{% url 'account-profile' slug=user.slug %}">{{reply.user.name}}</a> | 
											{{reply.date_time|timesince}} ago 
										</footer>
							</blockquote>
						</div>

					{% endfor %}
						
				

					<div class="extra_replies" id="extra_replies">
						{% for reply in comment.replies|slice:"2:" %}
							<div class="each-reply">
								<blockquote class="lead">
									<p> {{reply.content|linebreaks}} </p>
											<footer class="blockquote-footer">
												<a href="{% url 'account-profile' slug=user.slug %}">{{reply.user.name}}</a> | 
												{{reply.date_time|timesince}} ago 
											</footer>
								</blockquote>
							</div>
						{% endfor %}
					</div>


					{% if comment.replies.count > 2 %}
							<button type="button" onclick="toggle_extra_comments()" class="reply-comment" ><small id="extra-replies-btn">Read all comments</small></button>
						{% endif %}

				</div>

	<hr/>
	{% endfor %}




</div>

<!-- model -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reply to: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="." class="form_reply">{% csrf_token %}
	          <div class="form-group">
	            <label for="message-text" class="col-form-label">Comment:</label>
	            <textarea class="form-control" id="message-text" name="reply"></textarea>
	             <input class="parent" id="parent" type="hidden" name="parent">
	          </div>
	         
	        <button type="submit" class="btn btn-primary">Send comment</button>
        </form>
      </div>
      
    </div>
  </div>
</div>



{% endblock cont_ex %}



{% block javascript %}

	<script type="text/javascript">

	$(document).ready(function(){
		$(".content_re").each(function(){
			var content = $(this).text()
			console.log(content)
			markedContent	=	marked(content)
			console.log(markedContent)
			$(this).html(markedContent)
		})

		$(".content_detail img").each(function(){
			$(this).addClass("img-responsive")							// images in detail content being adjusted to fit
		})


	$('#exampleModal').on('show.bs.modal', function (event) {
		console.log('pp')
		var button = $(event.relatedTarget) // Button that triggered the modal
		var recipient = button.data('whatever') // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-title').text('Reply to ' + recipient)
		var parent = button.data('parent')
		console.log(parent)
		modal.find('.modal-body parent').val(parent)
		$(".form_reply").find("input[name=parent]").val(parent)
		
	});

	$(".form_reply").submit(function(){
   // Let's find the input to check
		   var parent = $(this).find("input[name=parent]");

		});

	$("#extra_replies").hide()


})
	function toggle_extra_comments(){
		console.log('----po');
		$("#extra_replies").toggle();
		if ($("#extra_replies").is(":visible")){
			$("#extra-replies-btn").text('Hide comments');
		}
		else{
			$("#extra-replies-btn").text('Read all comments');
		}
	}

	</script>

{% endblock javascript %}

